/* Color variables */
:root{
    --background-color: #f8fafc; 
    --text-color: #1e293b; 
    --header-background: #f9f6f6; 
    --footer-background: #312d2d; 
    --footer-text-color: #ffffff; 
    --footer-link-hover: #ffcc00; 
}

/* General style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Body */
body{
    font-family: "DM Serif Text", serif;

}

/* Overall height */
html,body{
    height: 100%;
}


/* Links */
a{
    text-decoration: none;
    color: var(--text-color);

}

/* Header style */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    height: 10vh;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo-image {
    width: 100px;
    margin-right: 10px;
}

.header-bank-name{
    font-size: 1.8rem;
    font-weight: bold;
    font-weight: 500;
}

/* Header center section */
.header-center {
    flex: 1;
    display: flex;
    margin:0 5%
}

.header-slogan {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
}

/* Navigation */
nav{
    display: flex;
    margin-left: auto;

}
nav .nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

nav img{
    width: 40px;
}


/* Main Part */
main{
    display: flex;
    flex-direction: row;
}

/* Currency Section */
#currency-section {
    width: 20%;
    height: 70vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: scroll; */
    /* padding: 10px; */
    /* gap: 5px; */
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}
.currency-section-title{
    font-size: 1.5rem;
    padding: 5px 0;
}

/* Exchange Content Style */
.exchange-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    padding: 4px;
    border: 1px solid #cbd5e1;
    background-color: white;
    box-shadow: 0 6px 12px transparent;
    transition: transform 0.3s, box-shadow 0.3s;
}

.exchange-content:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    background-color: #f1f5f9;
}


/* Currency Information */
.currency-info {
    display: flex;
    align-items: center;
    gap: 5px;
    /* margin-bottom: 8px;  */
}

.currency-info img {
    width: 1.4rem;
    height: 1.4rem;
}

.currency-info strong {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 700;
}

.currency-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #e0f2fe;
    color: var(--text-color);

}

.currency-status img {
    width: 1.8rem;
    height: 1.8rem;
}

.currency-status strong {
    font-size: 1.1rem;
    /* font-weight: 700; */
    color: var(--text-color);
}




/* Bank Offer Section */
#bank-offer-section {
    width: 50%;
    height: 70vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    overflow-y: scroll;

}
.bank-offer-section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}


.offer {
    background-color: var(--background-color);
    padding: 10px;
    /* border-radius: 3px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
}


.offer h2 {
    font-size: 1.2rem;
    color: var(--text-color);

}

.offer p {
    font-size: 1rem;
    color: v(--text-color);

}

.offer-button {
    background-color: #1ccd46;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

.offer-button:hover {
    background-color: #179d37;
}

.learn-more {
    color: #08531a;
    font-size: 0.9rem;
    text-decoration: none;
    align-self: flex-start;
    margin-top: 5px;
}


/* Style for table */
.offer-table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.offer-table th {
    font-weight: bold;
    background-color: #c4c4c4;
}

.offer-table th,
.offer-table td {
    padding: 5px;
    border-bottom: 1px solid transparent;
    color: var(--text-color);

}


/* Style for list */
.offer-list {
    padding-left: 20px;
    margin-top: 5px;
    color: #374151;
    list-style-type: disc;
}



/* Profile Section */
#profile-section {
    width: 30%;
    height: 70vh;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.profile-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    /* margin-bottom: 5px; */
    color:var(--text-color)
}

.personal-info {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 7px; */
}

.person-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-photo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.person-detail {
    flex: 2;
}

.person-detail h2 {
    font-size: 1.5rem;
    color:var(--text-color)

}

.person-detail p {
    font-size: 1rem;
    color:var(--text-color)

}

/* Wallet  */
.wallet {
    padding: 10px;
    margin-top: 20px;
    /* border-radius: 5px; */
    background-color: var(--background-color);
}

.wallet h2 {
    font-size: 1.5rem;
    color: var(--text-color)
}

.wallet p {
    font-size: 1rem;
    color:black;
}

/* Transactions */
.older-transactions {
    margin-top: 20px;
    padding: 10px;
    /* border-radius: 5px; */
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.older-transactions h2 {
    font-size: 1.5rem;
    color: var(--text-color)
}

.older-transactions ul {
    margin-left: 15px;
    /* list-style-type: none;  */
}

.older-transactions li {
    margin: 5px 0;
    color:black;
}


/* Footer */
footer {
    width: 100%;
    height: 20vh;
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    padding: 5px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    /* padding-bottom: 15px; */
}

.footer-left h3,
.footer-center h3,
.footer-right h3 {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #ffcc00;
}

.footer-link {
    display: block;
    color: var(--footer-text-color);
    text-decoration: none;
    /* margin: 8px 0; */
    font-size: 0.9rem;
    transition: color 0.3s;
}

.footer-link:hover {
    color: var(--footer-link-hover);
    text-decoration: underline;
}

.footer-creator {
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid #444;
    padding-top: 10px;
}



/* ************ Responsive Styles ************ */

/* Styles for screens smaller than 1212px */
@media screen and (max-width: 1212px){
    .personal-info{
        display: flex;
        flex-direction: column;
    }
    .person-detail{
        text-align: center;
        margin: 10px;
    }
}


/* Styles for screens smaller than 1024px */
@media screen and (max-width: 1024px) {
    #currency-section, #bank-offer-section, #profile-section {
        width: 100%; 
        margin-bottom: 20px;
    }

    .header-bank-name {
        font-size: 1.5rem;
    }

    nav .nav-item img {
        width: 40px;
    }
}


/* Styles for screens smaller than 855px */
@media screen and (max-width:855px) {
    main{
        display: flex;
        flex-direction: column-reverse;

    }
    header{
        display: flex;
        flex-direction: row;
        height: max-content;
    }

    #profile-section{
        height: fit-content;
        padding: 10px 0;
    }
    .profile-section-title{
        text-align: center;
        margin-bottom: 10px;
    }
    .wallet{
        margin: 0;
    }

    #currency-section{
        padding: 0;
        height: fit-content;
    }
    .currency-section-title{
        margin-top: 10px;
    }

    #bank-offer-section{
        height: fit-content;
    }
}


/* Styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }


    nav{
        margin: 0;
    }
    .nav-item .nav-icon img{
        width: 50px;
    }

    #currency-section, #bank-offer-section, #profile-section {
        width: 100%;
        padding: 10px; 
    }

    
    #bank-offer-section{
        height: fit-content;
    }

    .exchange-content {
        flex-direction: row; 
        justify-content: space-between;
        padding: 5px;
    }

    .offer h2 {
        font-size: 1rem; 
    }

    .offer p, .wallet p, .older-transactions li {
        font-size: 0.9rem; 
    }

    footer{
        height: fit-content;
    }
    .footer-container{
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-container a{
        display: flex;
        justify-content: center;

    } 
}

/* Styles for screens smaller than 480px */
@media screen and (max-width: 480px) {
    
    
    .header-logo-image {
        width: 100px; 
    }
    .header-bank-name {
        font-size: 1.4rem;
    }

    #profile-section{
        padding: 0  ;
    }

    nav .nav-item .nav-icon img {
        width: 45px;
        margin: 2px 10px;
    }

    nav .nav-item {
        margin: 0px;
    }
    .currency-section-title, .bank-offer-section-title, .profile-section-title, .footer-container h3 {
        font-size: 1.2rem; 
    }

    #bank-offer-section{
        height: fit-content;
    }
    .offer-button {
        padding: 8px;
        font-size: 0.9rem;
    }

    .footer-container {
        padding: 5px;
    }
}